body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.icon {
  padding-left: 10px;
}

.navigation {
  display: flex;
  gap: 20px; /* Space between navigation items */
  color: black;
}

.sign-in {
  padding: 3px;
  background-color: #ced4da;
  border-radius: 5px;
  font-size: 25px;
}

.register {
  padding: 3px;
  background-color: #212529;
  font-size: 25px;
  border-radius: 5px;
  color: white;
}

aside {
  display: inline-block;
  text-align: left;
  padding: 15px;
  border: 2px solid #dee2e6;
  border-radius: 15px;
  width: 250px;
  margin: 25px;
}

.elements a {
  text-decoration: none;
  background-color: #ced4da;
  color: black;
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
}

aside input {
  margin-bottom: 5px;
}

aside label {
  margin-bottom: 15px;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: left; /* Align container content to the left */
  margin-top: 20px;
}

.main-content {
  display: flex;
  align-items: center;
  gap: 20px; /* Add space between the topnav and side-nav */
  margin-left: 25px;
}

.topnav,
.side-nav {
  display: flex;
  align-items: center;
}

.topnav input[type="text"] {
  width: 300px;
  padding: 10px;
}

.topnav button {
  padding: 10px 20px;
}

.side-nav div {
  margin-left: 20px; /* Space between side navigation items */
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Space between boxes */
  justify-content: center;
  margin: 20px;
}

.box {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 150px; /* Adjust width */
  height: 200px; /* Adjust height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boximg {
  width: 100px; /* Adjust image width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
}
